<div class="container">
  <%= simple_form_for @mood do |p| %>
    <div class="mood-form">
      <%= p.input :rating, as: :radio_buttons,
                          collection: [['1', 'ðŸ˜¢'],
                                       ['2', 'ðŸ’©'],
                                       ['3', 'ðŸ˜¡'],
                                       ['4','ðŸ˜'],
                                       ['5', 'â˜ºï¸'],
                                       ['6', 'ðŸ˜€']],
                          label_method: :second,
                          value_method: :first,
                          wrapper_html: { class: 'radio-buttons' } %>
    </div>
    <%= p.input :journal_entry, wrapper_html: { class: 'h1' } %>
    <%= p.button :submit, "Submit Mood", class: "btn-gradient" %>
  <% end %>


</div>
