<div class="container">
  <%= simple_form_for @mood do |p| %>
    <%= p.input :rating, as: :numeric, label: 'How are you feeling today?' %>
    <%= p.input :journal_entry %>
    <%= p.submit %>
  <% end %>
</div>
