<div class="container moon-nav">
  <%= link_to day_path(date: params[:date]) do %>
      <i class="fas fa-circle"> </i>
  <% end %>
  <i class="fas fa-circle target"></i>
  <%= link_to events_path(date: params[:date]) do %>
    <i class="fas fa-circle"></i>
  <% end %>
</div>
