<div class="container">

  <div class="date-today">
      <h1> <%= @mood.date.strftime('%A') %></h1>
      <h1> <%= @mood.date.strftime(' %B %d, %Y') %></h1>
  </div>

  <div class="emoji">
    <h1>Today you are feeling:</h1>
    <%= @emoji %>
  </div>

  <div class="journal">
    <h1>Journal Entry:<%= @mood.journal_entry %></h1>
  </div>
</div>
