<!-- Tabs -->
<div class="container moon-nav">
  <i class="fas fa-circle target"></i>
  <% if Mood.where(date: params[:date], user_id: current_user.id) %>
    <%= link_to mood_path(date: params[:date]) do %>
      <i class="fas fa-circle"></i>
    <% end %>
  <% elsif %>
    <%= link_to new_mood_path(date: params[:date]) do %>
      <i class="fas fa-circle"></i>
    <% end %>
  <% end %>
  <%= link_to events_path(date: params[:date]) do %>
    <i class="fas fa-circle"></i>
  <% end %>
</div>
