<div class="container">
  <h1>Today's moon</h1>
  <h3><%= Time.now.strftime("%d/%m/%Y %H:%M") %></h3>
  <p>The 27th lunar day is favorable for work and business. Trust your intuition on this day. You will quite likely find the righ answer to the question that trouvles you. Avoid anything new but focus on education instead – it is a great idea!</p>
</div>
<div class="container moon-data">
  <h2>TODO: Fetch moon data from API</h2>
</div>
