<div class="container page">
  <%= month_calendar do |date| %>
    <% if current_user.birthday.month == date.month && current_user.birthday.day == date.day %>
      <%= "ðŸŽ" %>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>
