<div class="footer py-2">
<% if user_signed_in? %>
  <div class="container navigation" id="nav">
    <%= link_to "Day", day_path(:date => Date.today), class:"btn" %>
    <%= link_to "Month", month_path(:date => params[:date]), class:"btn active" %>
    <%= link_to "Stats", stats_path, class:"btn" %>
  </div>
<% end %>
</div>
