<div class="footer pt-3">
  <div class="darkmode">
    <form action="/day" method="get">
        <div class="container navigation my-3">
          <%= link_to "Day", day_path(:date => Date.today), class:"btn btn-dark" %>
          <%= link_to "Month", month_path, class:"btn btn-dark" %>
          <%= link_to "Stats", stats_path, class:"btn btn-dark" %>
        </div>
      <div>Darkmode</div>
      <button id="darkmode_on" type="submit" name="theme" value="dark">ON</button>
      <button id="darkmode_off" type="submit" name="theme" value="light">OFF</button>
    </form>
  </div>
</div>
