<div class="footer pt-3">
  <div class="darkmode">
    <form action="/day" method="get">
      <div>Darkmode</div>
      <button id="darkmode_on" type="submit" name="theme" value="dark">ON</button>
      <button id="darkmode_off" type="submit" name="theme" value="light">OFF</button>
    </form>
  </div>
</div>
