<div class="footer pt-3">
  <form action="/day" method="get">

    <div class="darkmode">
      <%# Darkmode %>
      <button id="darkmode_on" type="submit" name="theme" value="dark">🌙
      <%# <i class="fa-solid fa-moon"></i> %>
      </button>
      <button id="darkmode_off" type="submit" name="theme" value="light">☀️
      <%# <i class="fa-solid fa-sun"></i> %>
      </button>
    </div>
  </form>
</div>
