<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-3">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "moon1_new.png" %>
  <% end %>

  <% if user_signed_in? %>
    <div>Hi, <%= current_user.first_name.capitalize %>!</div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>
</div>
