<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-3">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "moon1_new.png" %>
  <% end %>

  <% if user_signed_in? %>
    <div>Hi, <%= current_user.first_name.capitalize %>!</div>
  <% else %>
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  <% end %>

  <div class="darkmode">
    <form action="/day" method="get">
    Darkmode
    <button id="darkmode_on" type="submit" name="theme" value="dark">ON</button>
    <button id="darkmode_off" type="submit" name="theme" value="light">OFF</button>
    </form>
  </div>
</div>
