<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-3">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "moon1_new.png" %>
  <% end %>
  <div>Hi, <%= current_user.first_name.capitalize %>!</div>
  <div class="darkmode">
    <form action="/day" method="get">
    Darkmode
    <button id="darkmode_on" type="submit" name="theme" value="dark">ON</button>
    <button id="darkmode_off" type="submit" name="theme" value="light">OFF</button>
    </form>
  </div>
</div>
