.btn-gradient {
  color: white;
  padding: 16px 24px;
  border-radius: 40px;
  font-weight: bold;
  background: $moon-gradient;
  text-decoration: none;
}

.btn-gradient:hover {
  color: white;
  background: $moon-purple;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

//day page

.day-page-month-btn {
  background-color: white;
  color: gray;
  border-color: white;
}

.day-page-stats-btn {
  background-color: white;
  color: gray;
  border-color: white;
}

// month page

.month-page-day-btn {
  background-color: white;
  color: gray;
  border-color: white;
}

.month-page-stats-btn {
  background-color: white;
  color: gray;
  border-color: white;
}

// stats page

.stats-page-day-btn {
  background-color: white;
  color: gray;
  border-color: white;
}

.stats-page-month-btn {
  background-color: white;
  color: gray;
  border-color: white;
}
