.simple-calendar table {
  color: white;
  background-color: $background-color;
  text-align: center;
  border: 0;
}

.simple-calendar thead {
  background: $background-color;
  opacity: 0.8;
  font-size: 26px;
}

.simple-calendar .prev-month {
  background: #3d3939;
  color: white;
}

.simple-calendar .next-month {
  background: #3d3939;
  color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: #ffffff;
}

.simple-calendar .calendar-heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.simple-calendar .calendar-heading a {
  color: white;
  text-decoration: none;
}

.simple-calendar .today {
  background: #303034;
  border-radius: 18px;
}

.image {
  margin-bottom: 3px;
  margin-top: 20px;
}

.text {
  margin-bottom: 10px;
  font-size: smaller;
  color: #757373;
  font-weight: 700;
}

.simple-calendar th {
  text-align: center;
  border: 0;
}

.simple-calendar td {
  border: 0;
  border-left-style: 0;
}

.table {
  --bs-table-striped-bg: 0;
  background: $background-color;
}

.next, .previous {
  align-items: center;
  display: flex;
}

.prev-month {
  // display: none;
}

.next-month {
  display: none;
}
