.info-card {
  background-size: cover;
  background-position: center;
  background-color: $card-background;
  // padding: 6px 20px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  h3, p {
    color: white;
  }
  font-weight: 600;
  text-align: justify;
  margin-top: 24px !important;
  p {
    margin-bottom: 0;
  }

}

.a-card {
  color: $white;
  text-decoration: none;
}

.a-card:focus {
  color: $moon-gray;
}

.card-header {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.card-header h4 {
  color: #845EF1;
}
