.info-card {
  background-size: cover;
  background-position: center;
  background-color: $light-gray;
  padding: 16px 20px;
  color: $moon-light-gray;
  font-size: 14px;
  border-radius: 8px;
}

.a-card {
  color: $moon-light-gray;
  text-decoration: none;
}

.a-card:focus {
  color: $moon-gray;
}
