.info-card {
  background-size: cover;
  background-position: center;
  background-color: $card-background;
  padding: 16px;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  margin: 8px 16px;
  h3, p {
    color: white;
  }
  p {
    margin-bottom: 0;
  }
}

.a-card {
  color: $white;
  text-decoration: none;
}

.a-card:focus {
  color: $moon-gray;
}

.card-header {
  display: flex;
  justify-content: space-between;
  gap: 17px;
}

.card-header h4 {
  color: $moon-purple;
}
