#darkmode_on {
  border-radius: 8px 0 0 8px;
  line-height: normal;
  letter-spacing: 1px;
  font-size: small;
  margin-right: -5px;
}
#darkmode_off {
  border-radius: 0 8px 8px 0;
  line-height: normal;
  letter-spacing: -1px;
  font-size: small;
}

body.light {
  color: $moon-gray;
  background-color: $light-gray;

  #darkmode_on {
    color: white;
    background-color: $moon-gray;
  }
  #darkmode_off {
    color: $moon-super-light-gray;
    border-color: $moon-super-light-gray;
  }
  .info-card {
    background-color: $gray;
    h3, p {
    color: $moon-gray;
    }
    a {
      color: $moon-purple;
      text-decoration: none;
      &:hover {
        color: $moon-super-light-gray;
      }
    }
    .a-card {
      color: $moon-gray;
      &:hover {
        color: $moon-super-light-gray;
      }
    }
  }
  .fas {
    color: $moon-purple;
  }
  .moon-nav i {
    color: $moon-gray;
  }
  th {
    color: $moon-light-gray;
  }
  td a {
    color: $moon-purple;
    font-weight: bold;
  }
  .simple-calendar .today {
    background: $moon-super-light-gray !important;
    border-radius: 18px;
  }
  .simple-calendar a {
    color: $moon-gray;
  }
  .text {
    color: $moon-gray;
  }
}

body.dark {
  color: white;
  background-color: $moon-gray;

  .navbar {
    background-color: $moon-gray;
  }

  #darkmode_on {
    background-color: $moon-gray;
    border-color: $moon-yellow;
  }

  #darkmode_off {
    color: $moon-gray;
    background-color: $moon-yellow;
    border-color: $moon-yellow;
  }

  .info-card {
    background-color: $moon-light-gray;
    a {
      color: $moon-yellow;
      text-decoration: none;
      &:hover {
        color: $moon-super-light-gray;
      }
    }
    .a-card {
      color: white;
      &:hover {
        color: $moon-super-light-gray;
      }
    }
  }
  .dropdown-menu {
    background-color: $moon-light-gray;
    border-color: $moon-purple;
    a {
      color: white;
    }
  }
}
