.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  background: $moon-gray;
  opacity: 0.95;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 2px;
  padding: auto;
  padding-left: 0;
  z-index: 1000;
  .btn {
    flex-grow: 1;
  }
}
