.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  background: $moon-gray;
  opacity: 0.95;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 3px 4px;
  z-index: 1000;
  background-color: white;
  border-radius: 30px;
  .btn {
    flex-grow: 1;
    background-color: $white;
    color: $moon-gray;
    border: none;
    &:hover {
      background-color: $moon-light-gray;
      color: white;
    }
  }
  .active {
    background-color: black;
    color: $white;
    border: none;
  }
}

.navigation .btn {
  border-radius: 30px;
  font-weight: 400;
}
