.footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(rgba(43, 43, 43, .5), rgb(43, 43, 43));
  opacity: 0.95;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto !important;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 3px;
  padding: 3px 4px;
  z-index: 1000;
  background-color: white;
  border-radius: 30px;
  .btn {
    border-radius: 30px;
    font-weight: 400;
    flex-grow: 1;
    background-color: $white;
    color: $moon-gray;
    border: none;
    &:hover {
      background-color: $moon-light-gray;
      color: white;
    }
  }
  .active {
    background-color: black;
    color: $white;
    border: none;
    font-weight: 600;
  }
}
