.date-today {
  text-align: center;
}

.date-navigation {
  display: flex;
  align-content: space-between;
  justify-content: space-evenly;
  i {
    font-size: 28px;
    margin: 20px;
  }
}

.date-today h1 {
  font-size: xx-large !important;
}
