.calendar-title {
  font-size: 26px !important;
}

.simple-calendar table {
  color: white;
  background-color: $moon-light-gray;
  text-align: center;
  border: 0 !important;
  position: relative;
  bottom: 11px;
}

.simple-calendar thead {
  opacity: 0.8;
  font-size: 18px;
  border: 0 !important;
  text-align: center !important;
}

.simple-calendar .prev-month {
  background: #3d3939;
  color: white;
}

.simple-calendar .next-month {
  background: #3d3939;
  color: white;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: #ffffff;
  border: 0;
}

.simple-calendar .calendar-heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  border: 0 !important;
}

.simple-calendar .calendar-heading a {
  color: white;
  text-decoration: none;
}

.simple-calendar .today {
  background: $moon-gradient !important;
  border-radius: 18px;
  .text {
    color: $moon-light-gray;
  }
}

.image {
  margin-bottom: 3px;
  margin-top: 10px;
}

.caption {
  margin-bottom: 12px;
  font-size: smaller;
  color: $moon-super-light-gray;
  font-weight: 500;
}

.simple-calendar th {
  text-align: center !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
}

.simple-calendar td {
  border: 0 !important;
}

.table {
  --bs-table-striped-bg: 0;
  background: $moon-light-gray;
  border: 0 !important;
}

.next, .previous {
  align-items: center;
  display: flex;
}

.prev-month {
  visibility: hidden !important;
}

.next-month {
  visibility: hidden !important;
}

.simple-calendar .today:hover {
  transform: scale(1.1) !important;
}

.simple-calendar .day:hover {
  transform: scale(1);
  background:rgb(161, 161, 161);
  border-radius: 18px;
}

.simple-calendar td a {
  color: var(--bs-link-color);
  text-decoration: none;
}

.simple-calendar .day a {
  position: relative;
}
.event-label {
  color: $moon-purple;
  font-size: 18px;
  position: absolute;
  left: -4px;
  top: -2px;
}
