.emoji {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
}

.journal {
  text-align: center;
  margin: 20px 0;
  p {
    margin: 0;
  }
}

.journal-entry {
  border-width:2px;
  border-style:solid;
  border-color:black;
  border-radius: 4px;
  height: 150px;
  margin-top: 7px;
  padding: 20px 20px 20px 20px;
  background-color: #686565;
  background-color: #686565
}

.invalid-feedback {
  font-size: 14px;
}
