.emoji {
  text-align: center;
  font-size: 48px;
  margin: 48px 0px;
}

.journal {
  text-align: center;
}

.journal-entry {
  border-width:2px;
  border-style:solid;
  border-color:black;
  border-radius: 4px;
  height: 200px;
  margin-top: 32px;
  padding: 8px 0px;
}
