.moon-data {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  bottom: 26px;
}

.moon-image {
  align-self: center;
  width: 120px;
  margin: 10px;
  position: relative;
  top: 73px;
}

.moon-nav {
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0;
  position: fixed;
  bottom: 132px;
}

.moon-nav a {
  color: white;
}

.fa-circle {
  margin: 6px;
  font-size: 20px;
}

.fas {
  color: #373535;
}

.target {
  color: white;
}
