.moon-data {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    bottom: 26px;
}

.moon-image {
  align-self: center;
  width: 120px;
  margin: 10px;
  position: relative;
  top: 73px;
}

.moon-nav {
  font-size: 22px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 10px;
  position: relative;
  bottom: 175px;
}

.moon-nav a {
  color: white;
}
