.emoji {
  text-align: center;
  font-size: 48px;
  margin: 48px 0px;
}

.journal {
  text-align: center;
  margin-top: -58px;
}

.journal-entry {
  border-width:2px;
  border-style:solid;
  border-color:black;
  border-radius: 4px;
  height: 150px;
  margin-top: 7px;
  padding: 20px 20px 20px 20px;
  background-color: #686565;
  background-color: #686565
}
