.navbar-dailymoon {
  justify-content: space-between;
  background-color: rgba(0,0,0,0) !important;
}

.navbar-dailymoon .navbar-collapse {
  flex-grow: 0;
}

.navbar-dailymoon img {
  width: 40px;
}

li.nav-item {
  list-style-type: none;
}
