.container.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 60px;
  padding: 0;
}

@media (max-width: 1920px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 750px;
  }
  .footer {
    width: 750px;
  }
}

@media (max-width: 1024px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 650px;
  }
  .footer {
    width: 650px;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 75vw;
  }
  .footer {
    width: 75vw;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container.page {
    width: 90vw;
  }
  .footer {
    width: 90vw;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container.page {
    width: 100vw;
  }
  .footer {
    width: 100vw;
  }
}
