.container.page {
  // display: flex;
  // flex-direction: column;
  // min-height: 100vh;
  margin-bottom: 65px;
  padding: 0;
}

@media (max-width: 1920px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 750px;
  }
  // .footer {
  //   width: 750px;
  // }
}

@media (max-width: 1024px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 650px;
  }
  // .footer {
  //   width: 650px;
  // }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container.page {
    width: 75vw;
  }
  // .footer {
  //   width: 75vw;
  // }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container.page {
    width: 90vw;
  }
  // .footer {
  //   width: 90vw;
  // }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container.page {
    width: 100vw;
  }
  // .footer {
  //   width: 100vw;
  // }
}

//day page
.title p {
  text-align: center;
  color: white;
  font-weight: 600;
  margin-top: 7px;
}

.title-location p {
  text-align: center;
  color: white;
  margin-top: -9px;
  margin-bottom: 19px;
}

.title-moonrise {
  position: relative;
  right: 90px;
  bottom: 119px;
  text-align: center;
}

.title-moonset {
  position: relative;
  left: 97px;
  bottom: 193px;
  text-align: center;
}

.title-moonphase {
  position: relative;
  right: 75px;
  bottom: 74px;
  text-align: center;
}

.title-moon-sign {
  position: relative;
  left: 90px;
  bottom: 148px;
  text-align: center;
}

.moon-data h4 {
  text-align: center;
  color: #845EF1;
}

.moon-data p {
  font-weight: 600;
}

.day-nav {
  position: relative;
  bottom: 149px;
}

.month-page {
  position: relative;
  bottom: 34px;
}

.stats-page {
  position: relative;
  top: 29px;
}

//tabs
.tab-day {
  position: relative !important;
  bottom: 157px !important;
}

.tab-mood {
  position: relative;
  bottom: 14px;
}
