body.light {
  color: black;
  background-color: white;
  #darkmode_on {
    background-color: white;
    border-right: 1px;
    }
  #darkmode_off {
    color: rgb(150, 150, 150);
    background-color: white;
    box-shadow: inset;
    border-color: rgb(150, 150, 150);
    border-left: 1px;
    }
}
body.dark {
  color: white;
  background-color: black;
  .navbar {
    background-color: black;
  }
  #darkmode_on {
    color: rgb(70, 70, 70);
    background-color: black;
    border-color: rgb(200, 200, 200);
    border-right: 1px;
    }
  #darkmode_off {
    color: white;
    background-color: black;
    border-color: white;
    border-left: 1px;
    }
}


// @mixin dark {
//   body {
//     background-color: black !important;
//     color: white !important;
//   }
// }

// @media (prefers-color-sheme: light) {
//   [data-color-mode="dark"] {
//   @include dark;
//   }
// }

// @media (prefers-color-sheme: dark) {
//   [data-color-mode="auto"], [data-color-mode="dark"] {
//   @include dark;
//   }
// }
