@import "bootstrap/scss/bootstrap";

body.light {
  color: $moon-gray;
  background-color: white;
  #darkmode_on {
    background-color: white;
    border-right: 1px;
    }
  #darkmode_off {
    color: white;
    background-color: $moon-gray;
    box-shadow: inset;
    border-color: $moon-gray;
    border-left: 1px;
    }
}
body.dark {
  color: white;
  background-color: $moon-gray;
  .navbar {
    background-color: $moon-gray;
  }
  #darkmode_on {
    color: rgb(70, 70, 70);
    background-color: $moon-gray;
    border-color: $moon-yellow;
    border-right: 1px;
    }
  #darkmode_off {
    color: $moon-gray;
    background-color: $moon-yellow;
    border-color: $moon-yellow;
    border-left: 1px;
    }
}
